$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);
$transparent-white: hsla(0, 0%, 100%, 0.7);

$hover-button: hsl(208, 27%, 89%);
$hover-button-active: hsl(217, 22%, 58%);

$family-font: "Manrope", serif;
$title-font-size: 1rem;
$regular-font-size: 0.8rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-grayish-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $family-font;
}

main {
  margin-top: 4.5rem;
  width: 20.5rem;
  overflow: hidden;
  border-radius: 9px;
  position: relative;
}

footer {
  margin-top: 2rem;
  font-size: $regular-font-size;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

ul {
  list-style: none;
}

.blog-post {
  &__banner {
    height: 12.5rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 115%;
    object-fit: cover;
    filter: brightness(1.1) contrast(0.85);
  }

  &__content {
    background-color: $white;
    padding: 2rem 2rem 1rem 2rem;
    display: grid;
    gap: 1.875rem;
  }

  &__header {
    display: grid;
    gap: 1rem;
  }

  &__title {
    font-size: $title-font-size;
    line-height: 150%;
    color: $very-dark-grayish-blue;
  }

  &__intro {
    font-size: $regular-font-size;
    letter-spacing: 0.025rem;
    line-height: 150%;
    color: $desaturated-dark-blue;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__avatar {
    width: 2.5rem;
  }

  &__author-avatar {
    width: 100%;
    border-radius: 50%;
  }

  &__author-container {
    font-size: $regular-font-size;
  }

  &__author {
    color: $very-dark-grayish-blue;
    font-weight: 700;
  }

  &__date {
    color: $desaturated-dark-blue;
  }

  &__share-button {
    width: 2rem;
    height: 2rem;
    background-color: $light-grayish-blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
  }

  &__share-menu {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $very-dark-grayish-blue;
    width: 100%;
    color: $white;
    padding: 1.5rem 2rem;

    span {
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      font-size: $regular-font-size;
      font-weight: 100;
      color: $transparent-white;
    }

    ul {
      padding-left: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        a {
          padding: 1px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

#shareMenu {
  visibility: hidden;
  transform: translateY(0);
  transition: all 0.3s ease;
}

#shareMenu.active {
  visibility: visible;
  transform: translateY(-100%);
}

#shareButton.active {
  background-color: $desaturated-dark-blue;
  img {
    filter: brightness(5);
  }
}

#shareButton.active:hover {
  background-color: $hover-button-active;
}

.blog-post__share-button:hover,
.blog-post__share-button:focus {
  background-color: $hover-button;
}

.sr-only {
  display: none;
}
